<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="SQLSERVER_CENTRAL" connectionString="Server=195.1.1.195;Database=db_rub_central;User Id=sa;Password=0;"/>
    </connectionStrings>

  <appSettings>
    <add key="TempoParaVerificacao" value="20"/>
  </appSettings>  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>


</configuration>
